<div>
    <section class="title-section">
        <h1>Join our stock community</h1>
        <p>Download free photos and videos powered by the best photographers.</p>
    </section>
    <form class="login-section" [formGroup]="loginForm" (ngSubmit)="login()">
        <label for="username">Username</label>
        <input 
            type="text"
            formControlName="username"
            placeholder="Enter username here..."
            name="username"
        />
        <span *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            {{errorMessage}}
        </span>
        <label for="password">Password</label>
        <input
            type="password"
            formControlName="password"
            placeholder="Enter password here..."
            name="password"
        />
        <span *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            {{errorMessage}}
        </span>
        <button class="login-btn" type="submit">Log in</button>
    </form>
    <app-footer></app-footer>
</div>